*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
img{
    object-fit: cover;
}
body{
    font-family:var(--primary-font);
}
/* ===========================common============================= */
:root{
    --primary-color:#143C3C;
    --second-color : #E2EDDF;
    --primary-font:"Poppins",sans-serif;
    --second-font: "Public Sans ", sans-serif;

}
main{
    font-family: var(--primary-font);
}
a{
    text-decoration: none;
}
input,textarea,button{
    font-family: inherit;
    font-size: inherit;
}
.btn{
    --font-btn:var(--second-font);
    display: inline-block;
    min-width: 173px;
    height: 57px;
    background: var(--primary-color);
    border-radius: 40px;
    text-align: center;
    line-height: 57px;
    color: #fff;
    font-family: var(--font-btn);
    font-size: 1.8rem;
    font-weight: 500;
    border: 1.5px solid #143C3C
}
.btn:hover{
    opacity: 0.9;
}
/* ===========================header============================= */
header{
    position: sticky;
    top: 0;
    z-index: 5;
}
.container{
    width: 1170px;
    max-width: calc(100% - (130px * 2));
    margin: 0 auto;
}
.header__top{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0 25px;
    background:#fff;
    z-index: 1;
}
.header__line{
    position: relative;
    top: -8px;
    content: "";
    display: inline-block;
    width: 1140px;
    height: 1px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(90deg, #FFFFFF 0%, #DDDCDC 51.09%, rgba(213, 213, 213, 0) 99.68%);
    z-index: 1;
}
.navigation{
    margin-left: auto;
}
.navigation-item{
    margin-left: 38px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #575D5E;
}
.login-btn{
    margin-left: 88px;
}
.navigation-item-home{
    position: relative;
    color: #152427;
}
.navigation-item-home::before{
    position: absolute;
    bottom: -41px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    z-index: 2;
}
/* ===========================hero============================= */
.hero{
    height: calc(100vh - 107px);
    /* background: #ccc; */
}
.hero-container{
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__info{
    width: 40%;
}
.hero__title{
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}
.hero-desc{
    color: #575D5E;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    width: 90%;
    margin-bottom: 42px;
}
.hero__row{
    display: flex;
    align-items: center;
    gap: 2px 36px;
}
.hero__btn-video{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 184px;
    height: 59px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}
.hero__background-btn{
    background: #83A17D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 59px;
    border-color: #143c3c transparent transparent #143c3c;
    border-width: 4px;
    border-style: solid;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    transform: rotate(316deg);
    transition: 0.25s;
    background-clip:content-box;
    padding: 4px;
    transition:0.3s;  
}
.hero__btn-play{
    transform: rotate(43deg);
}
.hero__btn-video:hover .hero__background-btn{
    transform: rotate(138deg);
}
.hero__btn-desc{
font-family: "Poppins",sans-serif;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.5;
text-align: center;
margin-left: 1px;
}
.hero__body{
    position: relative;
    margin-top: 60px;
    width: 646px;
}
.hero__list{
    display: flex;
    gap: 20px;
    z-index: 1;
}
.hero__item{
    width: calc(100% / 3 - (20px * 2));
    height: 446px;
    border-radius: 110px; 
    z-index: 2;
}
.hero__item:nth-child(2)
{
    margin-top: 77px;
}
.hero__body__background{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    border-radius: 50%;
    width: 340px;
    height: 340px;
    background: #4DBB9A;  
    filter:blur(130px);  
    z-index: 1;
}
.hero__body__pointer{
    position: absolute;
    z-index: 3;
}
.pointer_img-item1{
    position: absolute;
    top: -20px;
    left: -150px;
    transform: rotate(180deg);
}
.pointer__flower-item1{
    position: absolute;
    top: 10px;
    left: -190px;
    z-index: 4;
}
.pointer_img-item2{
    position: relative;
    bottom: -300px;
    transform: rotate(-10deg);
}
.pointer__flower-item2{
    position: absolute;
    bottom: -215px;
    right: -50px;
    z-index: 4;
}

/* ===========================social============================= */
.social{
    margin-top: 150px;
}
.social-container{
    height: 201px;
    background: #E2EDDF;
    border-radius: 100px;
}
.social__list{
    padding: 76px 0;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    gap: 42px;
}
.social__list__item{
    display: flex;
    align-items: center;
    gap: 3px;
}
.social__item-link{
    color: #143C3C;
    font-size: 3.1rem;
    font-weight: 500;
    line-height: 1.5;
}
.social__Rio{
    font-family: Sonsie One;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.5;

}
/* ===========================services============================= */
.services{
    margin: 76px 0 0 0;
}
.desc__child{
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 12px 46px;
   
}
.desc__child::before{
    position: absolute;
    top: 9px;
    left: -45px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}
.services__info__title{
    width: 502px;
    position: relative;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
}
.services__info__title::after{
    position: absolute;
    bottom: 25px;
    right: 40px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}
.services__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services__info-row{
    display: flex;
    gap: 17px;
    margin-right: 43px;
}
.services__background__img{
    background: #143C3C;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
}
.services__background-img{
    transform: rotate(180deg);
}
.services__background__img:hover{
    background: #E2EDDF;
    color: #000;
}
.services__card__list
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    margin: 76px 0 57px 0;
}
.services__card__item{
    width: 100%;
    height: 477px;
    border-radius: 20px;
    transition: all 0.2s ;
}
.services__card__img{
    width: 100%;
    height: 318px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card__title{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    margin: 24px 0 18px 0;
}
.card__desc{
    color: #7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}
.services__card__item:hover{
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
     /* x , y  , do leo , do dam */

}
.services__card__item:hover .card__title , .services__card__item:hover .card__desc{
    margin-left:18px ;
}
/* ===========================about============================= */
.about{
    margin-top: 157px;
}
.about__thumb{
    width: 591px;
    position: relative;
}
.about__images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 21px;

}
.about__background__img{
    position: absolute;
    top: 200px;
    left: 130px;
    width: 340px;
    height: 340px;
    /* border-radius: 50%; */
    background:#4DBB9A;
    filter: blur(200px);
    z-index: -1;
}
.about__img{
    width: 100%;
    border-radius: 210px;
    height: 480px;
}
.about__img-first{
    margin-top: 90px;

}
.about__body__pointer{
    position: absolute;
    left: 200px;
    top: -40px;
}
.about__card{
    width: 143px;
    height: 144px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}
.about__card{
    position:absolute;
    bottom: 0;
    right: 0;
}
.about__card__editor
{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 19px 23px;
    
}
.about__card__title{
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
}
.about__card__desc{
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#575D5E;
}
.about__scale{
    position: relative;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 3px;
}
.about__scale::before{
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    background: #EAEAEA;
    width: 100%;
    height: 1px;
}
.about__scale::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 40px;
    height: 1px;
    background: #83A17D;
}
.about__card__row{
    position: absolute;
    bottom: 0;
}